.local{
    display: flex;
    justify-content: center;
    gap: 5px;
}
#idemail{
    border: 3px solid #6495ED;
    border-bottom: 3px solid white;
}
.pp{
    text-align: center;
}
.caixa{
    border:1px solid black ;
    background-color: #6495ED;
    margin: 60PX;
}
