body{
    font-family: Arial, Helvetica, sans-serif;
    width: 900px;
}
table{
    border-collapse: collapse;
}
td{
    border: 1px solid black;
    text-align: center;
    width: 50px;

}
.pirulito{
    font-weight: bold;
    background-color: #e3e3e3;
}
td.vermelho{
    color: red;
    font-weight: bold;
}
figcaption{
    color: red;
    font-weight: bold;
}

div.meses{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

}