td,th{
    border: 1px solid black;
    text-align: center;
}
table{
    border-collapse: collapse;
}
tr:nth-child(even){
    background-color: #ccc;
}
th{
    background-color: #111;
    color: white;
    position: sticky;
    top: 0;
}